*{
    margin: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
main section{
      margin-top: 100px;
}
.header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding:100px 240px;
}
.header-text{
    margin-top:;
}
.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
   
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top:25px;
    margin-bottom: 0;

}
.btn-primary{
    border-radius: 8px;
    background-color:#E55473;;
    color: white;
    border: 0;
    padding: 20px 43px;
    margin-top:25px;
}
.profile-img{
    width: 400px;
   
   
}
.section1-title{ 
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;

}
.section1-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24;
    
}
.box-picture-container{
    display:flex;
   align-items: center;
   justify-content:space-around;
   margin:30px 240px 0 240px;

}
.box{
   
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 250px;
    height: 538px;
    padding-top: 100px;
    
}
.box >img{
    width: 250px;
    height: 400px;
}


.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    margin: 100px 240px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 70px 90px ;
}
.dp{
    width: 60px;

}


.section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    padding:100px 200px;
}
.section3-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
  
}
.section3-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top:24px;
    margin-bottom: 0;
  
}
.btn{
    margin-top:32px;
    border-radius: 8px;
    background-color:#E55473;;
    color: white;
    border: 0;
    padding: 20px 43px;
    margin-top:25px;
    margin-left: 150px;
   
}
.section4-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
   font-weight: 800;
   margin-bottom: 0;
  
}
.section4-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top:20px;
    margin-bottom: 0;

}
.section4-picture{
    display: flex;
    align-items: center;
   justify-content: center;
    gap: 25px;
    margin: 100px 240px;
}
.profile3-immage{
    width: 250px;
}
.our-service{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.service,.about{
    width: 50%;
    padding: 30px;
}
.service-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}
.btn-about{
    border-radius: 8px;
    background-color:#E55473;;
    color: white;
    border: 0;
    padding: 20px 43px;
    margin-top:25px;
    margin-left: 100px;
}



.submit-title{
    
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}
.submit-text{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    

}
.submit-container{
    background-image:url('../flower/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width:1080px;
    height:300px;
    margin: 50px auto;
    

}
input[type="email"]
{
    width: 500px;
    height: 50px;
    margin-right:30px;
    border-radius: 8px;
    border: 0;
}





.footer-section{
    background-color: #111010;
    padding:100px 100px;
}
.footer-section{
    text-align: center;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
    
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 0;
  
}
.copyright{
   color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
   font-weight: 400;
   margin-top: 32px ;
   
}
.text-style{
    color: white;
}